@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes tile-bounce {
  0% {
    transform: scale(0.95);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.tile-bounce {
  animation: tile-bounce 0.25s ease-out;
}
